name: Continuous Integration Go

on:
  workflow_call:
    inputs:
      go-version-file:
        required: false
        type: string
        default: "go.mod"
      working-directory:
        required: false
        type: string
        default: "."
      image-name:
        required: true
        type: string
      dockerfile:
        required: false
        type: string
        default: "./Dockerfile"
      context:
        required: false
        type: string
        default: "."
      push:
        required: false
        type: boolean
        default: true

jobs:
  ci:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v6

      - name: Code quality
        uses: ./.github/actions/cq-go
        with:
          go-version-file: ${{ inputs.go-version-file }}
          working-directory: ${{ inputs.working-directory }}

      - name: Build and push Docker image
        uses: ./.github/actions/build-image
        with:
          image-name: ${{ inputs.image-name }}
          dockerfile: ${{ inputs.dockerfile }}
          context: ${{ inputs.context }}
          push: ${{ inputs.push }}
          github-token: ${{ github.token }}

      - name: Generate SBOM
        if: ${{ inputs.push }}
        uses: ./.github/actions/sbom
        with:
          image: ghcr.io/${{ github.repository_owner }}/${{ inputs.image-name }}:sha-${{ github.sha }}
          github-token: ${{ github.token }}
